@import "variable";

html, body {
  height: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: $font-color;
}

body {
  background-color: white;
  margin: 0;
}

#app {
  height: 100%;
  min-width: 1000px;
  >div{
    height:100%;
    min-width: 1200px;
  }
}

.left-menu {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  width: 200px;
  height: calc(100% - 70px);
  background-color: $menu-bg;
}

.main {
  display: block;
  overflow: hidden;
  vertical-align: top;
  margin-top: 5px;
  background-color: $menu-bg;
  height: calc(100% - 70px);
  box-sizing: border-box;
}

.common-header {
  .common-header-search .el-input {
    width: 300px
  }
  .common-header-import-button {
    text-align: right;
  }
}

.block-20{
  height: 20px;
}
.space-10{
  margin: 0 5px;
}
.tlr{
  text-align: right;
}