html,body{
  height:100%;
}
body{
  background-color:white;
  margin:0;
}
#app{
  height:100%;
  min-width:1000px;
}
.left-menu{
  display:inline-block;
  margin-top:5px;
  width:200px;
  height:calc(100% - 70px);
  background-color:#eff2f7;
}
.main{
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  background-color:#eff2f7;
  width: calc(100% - 205px);
  height: calc(100% - 70px);
}